<!DOCTYPE HTML>
<html>

<!-- Head -->
<% include ./partials/_head %>

<body>
    <!-- Header -->
    <% include ./partials/_header %>
    <!-- Main -->
    <div>
        <p>Merci d'avoir complèter notre questionnaire</p>
        <p>Vous pouvez retourner à la page d'accueil en cliquant ici:</p>
        <a href="/"><button>Accueil</button></a>
    </div>
    <!-- Footer -->
    <% include ./partials/_footer %>
</body>

</html>