<!DOCTYPE HTML>
<html>
	<head>
		<title>Hackthon BDC | Générateur de Sondage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/public/styles/main.css" />
	</head>
	<body>
		<header>
			<p>Générateur de sondage</p>
		</header>
		<main>
			<form method="GET" action="/surveys/new">
				<input id="bouton" type="submit" value="submit"></input>
			</form>
		</main>
		<div>
			<a></a>
		</div>
		<footer>
			<p>&copy;Team #21</p>
		</footer>
	</body>
</html>