<!DOCTYPE HTML>
<html>
	<% include ./partials/_head %>
	<body id="image">
		<nav><a href="views/analytics/index.html">Analytics</a></nav>
		<main>
			<form method="GET" action="/surveys/new">
				<input type="submit" id="bouton" value="Nouveau Sondage"></input>
			</form>
		</main>
		<% include ./partials/_footer %>
	</body>
</html>