<!DOCTYPE HTML>
<html>
	<% include ./partials/_head %>
	<body>
		<% include ./partials/_header %>
		<main>
			<form method="GET" action="/surveys/new">
				<input id="bouton" type="submit" value="New"></input>
			</form>
		</main>
		<% include ./partials/_footer %>
	</body>
</html>