<!DOCTYPE HTML>
<html>

<!-- Head -->
<% include ./partials/_head %>

<body>
    <!-- Header -->
    <% include ./partials/_header %>
    <!-- Main -->
    <div>
        <form method="POST" action="/surveys/new">
            <input type="text" name="TEST" value="TEST" placeholder="TEST">
            <input type="submit" value="Submit">
        </form>
    </div>
    <!-- Footer -->
    <% include ./partials/_footer %>
</body>

</html>