<!DOCTYPE HTML>
<html>

<head>
    <title>New Survey</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/styles/main.css" />
</head>

<body>
    <!-- Header -->
    <header>
        Header
    </header>
    <!-- Main -->
    <div>
        <form method="POST" action="/surveys/new">
            <input type="text" name="TEST" value="TEST" placeholder="TEST">
            <input type="submit" value="Submit">
        </form>
    </div>
    <!-- Footer -->
    <footer>
        Footer
    </footer>
</body>

</html>