<!DOCTYPE HTML>
<html>
<!-- Head -->
<% include ./partials/_head %>
<body>
    <!-- Header -->
    <% include ./partials/_header %>
    <!-- Main -->
    <div>
        Main
    </div>
    <!-- Footer -->
    <% include ./partials/_footer %>
</body>

</html>